.no-charge-view {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.img-welcome {
    max-width: 100%;
    max-height: 100%;
}

.force-line {
    pointer-events: none;
}

.field {
    position: absolute;
    width: 100%;
    height: 100%;
}